.navbar {
    background-color: #F8F4B2 !important;
    font-family: "neue-haas-grotesk-display", sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
}

button {
    position: relative !important;
    padding: 5px !important;
    border: 1px;
    background: #40E0D0 !important;
    color: white !important;
    border-radius: 20px !important;
}

button:hover {
color: white !important;
}


body {
    font-family: "neue-haas-grotesk-display", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    margin: 0;
}

.cover {
    background-image: url('images/landscapebh.png') ;
    background-size: cover;
    background-position: right;
}

.coverp {
    text-shadow: 2px 2px 4px black !important;
}

.textfooter {
    color: white !important;
    text-shadow: none !important;
}

h1 {
    font-family: "neue-haas-grotesk-display", sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
}

h3 {
    font-family: "neue-haas-grotesk-display", sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
}

.imgmargin {
    border-radius:4px;
}

.aboutus {
    padding:10px;
    background-image: url(images/background-02.png);
    background-size: cover;
}

.text1 {
    font-family: "neue-haas-grotesk-display", sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
    font-size: 100px !important;
    color: black !important;
}

.text2 {
    text-align: center !important;
    padding: 30px;
    font-size: 22px;
}

.text3 {
    text-align: left;
    font-size: 22px;
}

.text4 {
    text-align: center;
    font-size: 55px;
    padding: 30px;
}

.text5 {
    text-align: center;
    font-size: 20px;
}

.text6 {
    text-align: right;
    font-size: 22px;
}

.row {
    padding:10px;
}

.ourbikes {
    padding:10px 0;
    background-image: url(images/background-03-01.png);
    background-size: cover;
}

.bikeicon {
    background: none !important;
    color: black !important;
}

.sectiontwo {
    background-color: #FDFBD4;
}

#map {
   height: 400px;
}
