.navbar {
    background-color: #F8F4B2 !important;
    font-family: "neue-haas-grotesk-display", sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
}

button {
    position: relative !important;
    padding: 5px !important;
    border: 1px;
    background: #40E0D0 !important;
    color: white !important;
    border-radius: 20px !important;
    text-align: center !important;
}

button:hover {
color: white !important;
}


body {
    font-family: "utopia-std", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

.cover {
    background-image: url('images/landscapebh.png') ;
    background-size: cover;
    background-position: right;
}


.textfooter {
    color: white !important;
    text-shadow: none !important;
}

.indexwelcome {
    font-family: "utopia-std-headline", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    color: #F8F4B2 !important;
    text-align: center;
    padding: 40px;
    text-shadow: 2px 2px #FDFBD4;
}

.h3text {
    font-family: "utopia-std-headline", serif;
    font-weight: 400;
    font-style: normal;
    color:#40E0D0 !important;
}

.imgmargin {
    border-radius:4px;
}

.aboutus {
    padding:10px;
    background-image: url(images/background-02.png);
    background-size: cover;
}

.textourbikes {
    font-family: "utopia-std-headline", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150px !important;
    color: #F8F4B2 !important;
    text-align: right;
    padding: 40px;
    text-shadow: 70px 35px #FDFBD4;
}

.text1 {
    font-family: "utopia-std-headline", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px !important;
    color: black !important;
}

.text2 {
    text-align: center !important;
    padding: 30px;
    font-size: 22px;
}

.text3 {
    text-align: left;
    font-size: 24px;
}

.text4 {
    font-family: "utopia-std-headline", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 55px;
    padding: 30px;
}

.text5 {
    text-align: center;
    font-size: 20px;
}

.text6 {
    text-align: right;
    font-size: 22px;
}

.row {
    padding:10px;
}

.ourbikes {
    padding:10px 0;
    background-image: url(images/background-03-01.png);
    background-size: cover;
}

.bikeicon {
    background: none !important;
    color: black !important;
}

.sectiontwo {
    background-color: #FDFBD4;
}

#map {
   height: 400px;
   margin-left: 15px;
   border: 20px;
   border-radius: 20px;
}

.title {
    font-family: "utopia-std-headline", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px !important;
    color: black !important;
    text-align: left;
    padding: 15px;
}

.title2 {
    font-family: "utopia-std", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px !important;
    color: black !important;
    text-align: right;
    padding: 15px;
}

.locate {
   background-image: url(images/background_locate-01-01.png);
   background-size: cover;
}

.black {
    color: black;
}

.bikemockup {
    background-color: #b0f2eb;
    
}

.side {
    padding: 0px !important;
    margin: 0px !important;
}